<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta name="author" content="">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>{% block title %}Login | My App {% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{#    // TODO: remove offline styles#}
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/font-awesome/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="body">
    <header id="navbar" class="navbar sticky-nav navbar-light">
        <nav>
            <div class="logo-container navbar-brand">
                <a href="#" id="logo" class="navbar-brand">
                    <img src="/img/avator.png" alt="Siv Shasha">
                </a>
            </div>

            <div class="toggler">
                <i class="fa fa-bars menu" aria-hidden="true"></i>
            </div>
            <ul>
                <li><a href="#" id="homie">Home</a></li>
                <li><a href="">Contact</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="#" id="create-client-request">Create Client</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle')|raw }}</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}"><span class="fa fa-user"></span>&nbsp;{{ app.user.username|raw }}</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle')|raw }}</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({},'FOSUserBundle')|raw }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="mt-9 clearfix"></div>
    <section class="mt-9">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="alert alert-success access-token-success hidden" role="alert">
            <h4 class="alert-heading">Generated token!</h4>
            <p>You have successfully generated your api access token. Find the token below.<br /><a id="js-request-test" access-token="" href="#">Make sample request with the new toke</a></p>
            <hr>
            <p id="the-token"></p>
        </div>
        <div class="container">
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div id="get-access-token" hidden>
                        <input type="hidden" _usernm="{{ app.user.username }}">
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
<footer>

    <div class="footer">
        <div class="grid-4">
            <h4 class="company">My App</h4>
        </div>
        <div class="grid-4">
            <h4>Company</h4>
            <div><ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Terms and Privacy</a></li>
                    <li><a href="">Help</a></li>
                </ul></div>
        </div>

        <div class="grid-4">
            <h4>Activities</h4>
            <div><ul>
                    <li><a href="{{ path('home') }}">Sports</a></li>
                    <li><a href="{{ path('home') }}">Wellness and Health</a></li>
                    <li><a href="{{ path('home') }}">Culture and Education</a></li>
                    <li class="red-link"><a href="{{ path('home') }}">View all</a></li>
                </ul></div>
        </div>

        <div class="grid-4">
            <h4>Contact us</h4>
            <div><ul>
                    <li><a href="">Tel: (000)&nbsp;000&nbsp;0000</a></li>
                    <li><a href="">Email: shasha.christopher@gmail.com</a></li>
                </ul></div>
        </div>
        <div class="clearfix"></div>
        <div class="bottom-footer">
            <p>&copy;&nbsp;All right reserved.</p>
        </div>
    </div>
</footer>
    <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                    <div class="loader-txt">
                        <p>Requesting...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{#<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
<script scr="/js/jquery-3.4.1.js"></script>
<script scr="/jquery/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    // __isLoaded();
    // __isLoaded() {
    //     if (typeOf jQuery === 'undefined') { setTimeout(__isLoaded, 500); }
    // }
    jQuery(document).ready(($) => {
        console.log("ready");
        jQuery('.fos_user_registration_register input[type="submit"]').addClass('btn btn-primary');
        jQuery('#fos_user_profile_form div').addClass('form-group');
        jQuery('.form-group label').addClass('mb-2');
        jQuery('.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"]').addClass('form-control');
        jQuery('.alert').alert();

        jQuery("button.close").on('click', () => {
           this.hide();
        });


        jQuery('#create-client-request').on('click', (e) => {
            e.preventDefault();
            console.log('clicked..');

            var _post_data = {'grant-type': "password", 'redirect-uri': "https://127.0.0.1:8000"};
            var post_data = JSON.stringify(_post_data);


            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                createClient("https://127.0.0.1:8000/create/client", post_data, 'POST');
            {% endif %}

        });

        jQuery('#homie').on('click', (e) => {
            e.preventDefault();
            var token = jQuery('.access-token-success a').attr('access-token'); // the gen. token

            $.ajax({
                url: "https://127.0.0.1:8000/api/v1/event/events",
                type: "GET",
                headers: {"Authorization": "Bearer " + "NTlkNTQwNTkxZDMxYjAyZTY0OTU5ZDJiNjljYWMwOWRiN2JiMGU0ZWUxNjdiZjc2NDZiZTk0ZTJmNzM5ZTUwYg"},
                contentType: "application/json",


                error: (error) => {
                    console.log(error);
                    // var err = xhr.status + ": " + xhr.statusText;
                    // console.log("Error - " + err);
                },
                success: (response) => {
                    // var res = JSON.parse(response);
                    console.log(JSON.stringify(response));
                    console.log(response);
                }

            });

        });



        function requestAccessToken(url,method, data) {

            /**
             * @type {string}
             * @TODO this is not safe find a better way
             */
            var user_password = prompt("Enter your password: ", null);

            /**
             *
             * @type {jQuery}
             */
            var user = "{{ app.user.username }}"; //jQuery('#get-access-token input[type="hidden"]').attr('_usernm');
            /**
             *
             * @type {string}
             */
            var pass = user_password;
            /**
             *
             * @type {password: string, grant_type: string, client_secret: *, client_id: *, username: jQuery}
             * @private
             */
            var _post_data = {
                client_id: data.client_id,
                client_secret: data.client_secret,
                grant_type: 'password',
                username: user,
                password: pass
            };

            console.log(_post_data);
            
            /**
             *
             * @type {string}
             */
            var post_data = JSON.stringify(_post_data);
            // console.log(post_data);

            $.ajax({
                url: url,type: method, data: post_data, contentType: 'application/json',
                success: (response) => {
                    const token = response.access_token;
                    const type = response.token_type;

                    $('.access-token-success').toggleClass('hidden'); // unhide
                    $('.access-token-success a').attr('access-token', token);
                    $('.access-token-success p.the-token').text("Access Token: " + token + "<br />Token Type: " + type);

                    $('#loadMe').modal("hide");

                    alert("Access Token: \n" + token);

                },
                error: (xhr, status, error) => {
                    var err = xhr.status + ": " + xhr.statusText;
                    console.log(err);
                    alert("Whoops, an error occured - " + err);
                    $('#loadMe').modal("hide");
                }
            });
        }


        function createClient(url, data, method) {
            jQuery("#loadMe").modal({
                backdrop: "static", // remove ability to close modal with click
                keyboard: false, // remove option to close with keyboard
                show: true // Display loader!
            });
            jQuery('#loadMe .loader-txt p').text("Creating client...");

            // create client
            jQuery.ajax({
                url: url,
                type: method,
                data: data,
                contentType: "application/json",
                success: (res) => {
                    requestAccessToken("https://127.0.0.1:8000/oauth/v2/token", "POST", JSON.parse(res)); // gen access token
                },
                error: (xhr, status, error) => {
                    var err = xhr.status + ": " + xhr.statusText;
                    console.log("Error - " + err);
                    jQuery('#loadMe').modal("hide");
                    alert('Whoops, an error occured - ' + err);
                }
            });
        }
    });
</script>
</html>